html {
    background-color: #35263b;
    color: #f1f1f1;
}

.posts {
    margin-top: 5%;
}

.post {
    background-color: #42304a;
    background-color: #503a59;
    background-color: white;
    color: black;
    width: 60vw;
    margin: 10% auto;
    margin-top: 0;
    border-radius: 5px;
}

.post .userinfo {
    background-color: white;
    border-radius: 5px 5px 0 0;
    color: black;
    height: 70px;
}

.userinfo img {
    height: 60px;
    margin: 5px;
    margin-top: -10px;
    vertical-align: middle;
}

.userinfo b {
    line-height: 70px;
    display: inline-block;
    text-align: center;
    height: 70px;
    padding-left: 1%;
    font-size: 2rem;
}

.postcontent {
    padding: 1%;
}

.postcontent img {
    width: 100%;
    padding-bottom: 1%;
}

.interaction svg {
    width: 40px;
    padding: 0.5%;
}

.like, .comment {
    stroke: black;
    stroke-width: 30px;
    fill: none;
    cursor: pointer;
}

svg:hover .like, svg:hover .comment {
    fill: #812ba6;
    stroke: #812ba6;
}

